<div class="chat-input">
    <div class="chat-container">
        <div class="chat-input-group">
            <button type="button" class="btn-add btn btn-icon">
                <i class="ri-add-circle-fill text-body-secondary"></i>
            </button>
            <textarea class="chat-form-control form-control hide-scrollbar" data-min-rows="1" data-max-rows="5"></textarea>
            <button type="button" class="btn-send btn btn-icon">
                <i class="ri-send-plane-2-line text-info"></i>
            </button>
        </div>
    </div>
</div>
