<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h5" id="searchModalLabel">Quick Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form :: Start -->
                <div class="input-group input-group-lg mb-4">
                    <span class="input-group-text" id="search-addon1">
                        <i class="ri-search-eye-line text-secondary"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-addon1">
                </div>
                <!-- Form :: End -->

                <!-- Time :: Start -->
                <div class="d-flex align-items-center gap-3 mb-4">
                    <h3 class="h6 mb-0">Today</h3>
                    <span class="small text-body-secondary">Fri 7 Apr</span>
                </div>
                <!-- Time :: End -->
                
                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">What is web development?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">Can you explain the difference between front-end and back-end web development?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Media :: End -->
                
                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">What are some popular web development languages?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">What are some best practices for optimizing website performance?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>
                    </div>                    
                </a>
                <!-- Media :: End -->
                
                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user-2.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">What is responsive design?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">How can you improve the accessibility of a website for users with disabilities?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>
                    </div>                    
                </a>
                <!-- Media :: End -->
                
                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user-3.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">What is a web server?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">What are some common security vulnerabilities in web development, and how can they be prevented?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>                    
                    </div>                    
                </a>
                <!-- Media :: End -->

                <!-- Time :: Start -->
                <div class="d-flex align-items-center gap-3 mt-4 mb-4">
                    <h3 class="h6 mb-0">Last 20 days</h3>
                </div>
                <!-- Time :: End -->

                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">How do you optimize a website's loading speed?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">What are some common security vulnerabilities in web development, and how can they be prevented?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>                    
                    </div>                    
                </a>
                <!-- Media :: End -->

                <!-- Media :: Start -->
                <a href="#" class="text-reset text-decoration-none d-block mb-1">
                    <div class="card card-search border-0">
                        <div class="row align-items-center flex-nowrap g-4">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img src="assets/img/avatars/user-3.png" alt="">
                                </div>
                            </div>
                            <div class="col" style="min-width: 0;">
                                <h6 class="h-6 text-truncate mb-1">Can you explain the difference between HTTP and HTTPS protocols?</h6>
                                <span class="text-body-secondary text-truncate d-block fs-sm">How can you improve the user experience of a website or web application?</span>
                            </div>
                            <div class="col-auto">
                                <span class="badge bg-body text-body">1 min</span>
                            </div>
                        </div>                    
                    </div>                    
                </a>
                <!-- Media :: End -->
                
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-quaternary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
