<aside class="sidebar bg-body-tertiary border-start overflow-hidden h-100">
    
    <!-- Sidebar Toolbar :: Start -->
    <div class="sidebar-toolbar bg-body-tertiary border-bottom flex-shrink-0 p-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <button class="btn btn-icon btn-nav btn-sm" type="button">
                    <i class="ri-delete-bin-5-line" title="Delete"></i>
                </button>
            </div>

            <div class="d-flex align-items-center">
                <p class="mb-0 me-2">Chat history</p>
                <span class="badge bg-quaternary">38/100</span>
            </div>

            <div>                                    
                <button class="btn btn-sm btn-icon btn-nav" type="button" title="Share">
                    <i class="ri-share-line"></i>
                </button>
            </div>
        </div>
        
    </div>
    <!-- Sidebar Toolbar :: End -->
    
    <!-- Sidebar Content :: Start -->
    <div class="sidebar-content hide-scrollbar flex-grow-1 h-100 p-2">
        
        <!-- Card :: Start -->
        <div class="card-history active mb-4">
            <div class="row g-2">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardChatHistory1" checked>
                    </div>
                </div>
                <div class="col overflow-hidden">
                    <a class="text-body" href="#">
                        <h6 class="card-history-title mb-1">Unior AI UI Kit</h6>
                    </a>
                    <p class="card-history-descr line-clamp mb-2">Write code (HTML, CSS and JS) for a simple landing page with hero banner and search input field.</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/user.png" alt="Avatar">
                        </div>
                        <small class="text-body-secondary">Just Now</small>              
                    </div>                                       
                </div>
            </div>
        </div>
        <!-- Card :: End -->
        
        <!-- Card :: Start -->
        <div class="card-history mb-4">
            <div class="row g-2">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardChatHistory2">
                    </div>
                </div>
                <div class="col overflow-hidden">
                    <a class="text-body" href="#">
                        <h6 class="card-history-title mb-1">Unior Landing Page</h6>
                    </a>
                    <p class="card-history-descr line-clamp mb-2">Write code (HTML, CSS and JS) for a simple landing page with hero banner and search input field.</p>
                    <a class="d-block mb-3" href="#">
                        <img src="assets/img/cards/card-history.png" class="img-fluid rounded-2" data-zoomable alt="Image">
                    </a>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/user.png" alt="Avatar">
                        </div>
                        <small class="text-body-secondary">Just Now</small>              
                    </div>                                       
                </div>
            </div>
        </div>
        <!-- Card :: End -->
        
        <!-- Card :: Start -->
        <div class="card-history mb-4">
            <div class="row g-2">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardChatHistory3">
                    </div>
                </div>
                <div class="col overflow-hidden">
                    <a class="text-body" href="#">
                        <h6 class="card-history-title mb-1">Photo Editing</h6>
                    </a>
                    <p class="card-history-descr line-clamp mb-2">Change background color of photo to light pink.</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="avatar-group">
                            <div class="avatar avatar-sm">
                                <img src="assets/img/avatars/user.png" alt="Avatar">
                            </div>
                            <div class="avatar avatar-sm">
                                <img src="assets/img/avatars/user-2.png" alt="Avatar">
                            </div>
                            <div class="avatar avatar-sm">
                                <img src="assets/img/avatars/user-3.png" alt="Avatar">
                            </div>
                        </div>
                        <small class="text-body-secondary">Today</small>              
                    </div>                                        
                </div>
            </div>
        </div>
        <!-- Card :: End -->
        
        <!-- Card :: Start -->
        <div class="card-history">
            <div class="row g-2">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardChatHistory4">
                    </div>
                </div>
                <div class="col overflow-hidden">
                    <a class="text-body" href="#">
                        <h6 class="card-history-title mb-1">Write CTA Text</h6>
                    </a>
                    <p class="card-history-descr line-clamp mb-2">Write code (HTML, CSS and JS) for a simple landing page with hero banner and search input field.</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="avatar avatar-sm">
                            <img src="assets/img/avatars/user.png" alt="Avatar">
                        </div>
                        <small class="text-body-secondary">Today</small>              
                    </div>                                        
                </div>
            </div>
        </div>
        <!-- Card :: End -->
        
    </div>
    <!-- Sidebar Content :: End -->
    
    <!-- Sidebar Footer :: Start -->
    <div class="sidebar-footer border-top text-center p-2">
        <button class="btn btn-sm btn-primary d-inline-flex align-items-center justify-content-center w-75"><i class="ri-add-line me-2"></i>New Chat</button>
    </div>
    <!-- Sidebar Footer :: End -->

</aside>
